.header-info{
	display: flex;
	text-align: center;
	flex-direction: column;
}

.select-seats{
	display: flex;
    justify-content: space-between;
}

.movie-info-section{
	display: flex;
    justify-content: center;
    align-items: center;
}

.movie-img{
	border-radius: 100%;
	background-color: #000000;
	width: 10vh;
	height: 10vh;
}

.movie-img img{
	max-width: 100%;
    display: block;
    height: auto;
}

.movie-info{
	display: flex;
    flex-direction: column;
}

.movie-info h1{
	text-align: left;
	margin: 1vh 0;
}

.pantalla-title{
	text-align: center;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.container{
	width: 95vw;
    margin: auto;
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3vh 0;
}

.row{
	padding-bottom: 15px;
}

.row object{
	width: 3%;
	height: 3%;
}

.next-step{
	text-align: right;
    margin-right: 15vw;
}

.ticket-section{
	border: 1px solid black;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    align-items: center;
}

.price-section{
	width: 33vw;
}

.pg-section{
	width: 33vw;
}

.tickets-amount{
	width: 33vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tickets-amount button{
	margin: 0 1vw;
	border-radius: 100%;
}
